{% extends 'blog/base.html' %}


{% block header %}
	<h1> {{ post.title }} </h1>
	<hr width="500" align="left" size="4">
{% endblock %}


{% block content %}
	<h3> {{ post.text }} </h3>
	
	<div class="comment">
		<hr width="500" align="left" size="4">
			<a href="{% url 'post_comment' pk=post.id %}">
			<h4> Click to see {{ c_number }} comment</h4> </a>
	</div>
{% endblock %}


{% block footer %}
	<div class="date">
		<hr width="500" align="left" size="4">
			<h4> {{ date }}</h4> </a>
	</div>
{% endblock %}